<%= form_with(model: plate) do |form| %>
  <% if plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
        <% plate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-2">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
    
  </div>
  
  <div class="form-group my-2">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group my-2">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group my-2">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group my-2"> 
    <%= form.label :category_id %>
    <%= collection_select(:plate, :category_id, Category.all, :id, :name, :class => "custom-select" ) %>
  </div>

  <div class="actions" >
    <%= form.submit "Crear nuevo plato", :class => "btn btn-danger my-3" %>
  </div>
<% end %>
