<!--menu scrollspy -->
<nav id="navbar-example2" class="navbar navbar-dark bg-dark px-3 sticky-top">
   <h6>
   <%= link_to 'Volver atras', home_path, class: "link-dark" %>
   </h6>
   <a class="navbar-brand" href="#">Menú</a>
   <ul class="nav nav-tabs">
      <li class="nav-item">
         <a class="nav-link" href="#scrollspyHeading1">Entrantes</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#scrollspyHeading2">Sopas</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#scrollspyHeading3">Platos Marinos</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#scrollspyHeading4">Carnes y aves</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#scrollspyHeading5">Pollo a la brasa</a>
      </li>
   </ul>
</nav>
<div class="container">
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
<h4 id="scrollspyHeading1" class="pt-5 pb-3">Entrantes</h4>
<div class="row">
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'tamales.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Tamales</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#verModal1">
         Ver plato 5,00 €
         </button>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'yuca.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Yuca Frita</h5>
         <p class="card-text">Judí­as de soja hervidas. Otra de la especialidades de la cocina peruana.</p>
         <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#verModal2">
         Ver plato 8,00 €
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'papa-huancaina.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Papa a la Huancaína</h5>
         <p class="card-text">Fideos a la plancha con verduras y salsa picante. Estos son nuestros...</p>
         <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#verModal3">
         Ver plato 8,00 €
      </div>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'ensalada_mixta.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Ensalada Mixta</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#verModal4">
         Ver plato 6,00 €
      </div>
      </div>
   </div>
</div>

<h4 id="scrollspyHeading2" class="pt-5 pb-3">Sopas</h4>
<p>
<div class="row">
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'sopa1.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Sustancia de Pollo</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <a href="#" class="btn btn-outline-dark">Ver plato 9,00 €</a>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'sopa_criolla.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Sopa a la Criolla</h5>
         <p class="card-text">Judí­as de soja hervidas. Otra de la especialidades de la cocina peruana.</p>
         <a href="#" class="btn btn-outline-dark">Ver plato 9,00 €</a>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'caldo_gallina.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Caldo de Gallina</h5>
         <p class="card-text">Fideos a la plancha con verduras y salsa picante. Estos son nuestros...</p>
         <a href="#" class="btn btn-outline-dark">Ver plato 10,00 €</a>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'caldo_mote.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Caldo de mote</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <a href="#" class="btn btn-outline-dark">Ver plato 10,00 €</a>
      </div>
   </div>
</div>
<h4 id="scrollspyHeading3" class="pt-5 pb-2">Platos marinos</h4>
<p>
<div class="row">
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'dorada_frita.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Dorada Frita</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <a href="#" class="btn btn-dark">Ver plato 14,00 €</a>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'aeropuerto_marisco.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Aeropuerto de Mariscos</h5>
         <p class="card-text">Judí­as de soja hervidas. Otra de la especialidades de la cocina peruana.</p>
         <a href="#" class="btn btn-dark">Ver plato 14,00 €</a>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'lecheTigre.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Leche de Tigre</h5>
         <p class="card-text">Fideos a la plancha con verduras y salsa picante. Estos son nuestros...</p>
         <a href="#" class="btn btn-dark">Ver plato 10,00 €</a>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'arroz_marisco.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Arroz de Mariscos</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <a href="#" class="btn btn-dark">Ver plato 16,00 €</a>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'chaufa_amazonico.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Chaufa Amazónico</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <a href="#" class="btn btn-dark">Ver plato 14,00 €</a>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'choros_chalaca.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Choros a la Chalaca, 8 Uni.</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
         Ver plato 10,00 €
         </button>
      </div>
   </div>
</div>
<div class="col-lg-4 col-xl-3 col-md-6 mb-4">
   <div class="card">
      <%= image_tag 'cevicheMixto.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
      <div class="card-body">
         <h5 class="card-title">Ceviche Mixto</h5>
         <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
         <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
         Ver plato 16,00 €
         </button>
      </div>
   </div>
</div>
</p>
<h4 id="scrollspyHeading4" class="pt-5 pb-2">Carnes y aves</h4>
<p>
<div class="row">
   <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
      <div class="card">
         <%= image_tag '003.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
         <div class="card-body">
            <h5 class="card-title">Salchipapa</h5>
            <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
            <a href="#" class="btn btn-dark">Ver plato 8,00 € </a>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
      <div class="card">
         <%= image_tag '001.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
         <div class="card-body">
            <h5 class="card-title">Pollo broaster</h5>
            <p class="card-text">Judí­as de soja hervidas. Otra de la especialidades de la cocina peruana.</p>
            <a href="#" class="btn btn-dark">Ver plato 10,00 €</a>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
      <div class="card">
         <%= image_tag '002.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
         <div class="card-body">
            <h5 class="card-title">Pollo Saltado</h5>
            <p class="card-text">Fideos a la plancha con verduras y salsa picante. Estos son nuestros...</p>
            <a href="#" class="btn btn-dark">Ver plato 12,00 €</a>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
      <div class="card">
         <%= image_tag 'food_01.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
         <div class="card-body">
            <h5 class="card-title">Chaufa Mixto</h5>
            <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
            <a href="#" class="btn btn-dark">Ver plato 12,00 €</a>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
      <div class="card">
         <%= image_tag 'food_01.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
         <div class="card-body">
            <h5 class="card-title">Chaufa de Pollo</h5>
            <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
            <a href="#" class="btn btn-dark">Ver plato 12,00 €</a>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
      <div class="card">
         <%= image_tag '001.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
         <div class="card-body">
            <h5 class="card-title">Mostrito</h5>
            <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Ver plato 12,00 €
            </button>
         </div>
      </div>
   </div>
   <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
         <div class="card">
            <%= image_tag '003.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
            <div class="card-body">
               <h5 class="card-title">Bisteck a lo Pobre</h5>
               <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
               <a href="#" class="btn btn-dark">Ver plato 14,00 €</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
         <div class="card">
            <%= image_tag '001.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
            <div class="card-body">
               <h5 class="card-title">Lomo Saltado</h5>
               <p class="card-text">Judí­as de soja hervidas. Otra de la especialidades de la cocina peruana.</p>
               <a href="#" class="btn btn-dark">Ver plato 14,00 €</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
         <div class="card">
            <%= image_tag '002.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
            <div class="card-body">
               <h5 class="card-title">Tallarín Saltado</h5>
               <p class="card-text">Fideos a la plancha con verduras y salsa picante. Estos son nuestros...</p>
               <a href="#" class="btn btn-dark">Ver plato 12,00 €</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
         <div class="card">
            <%= image_tag 'food_01.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
            <div class="card-body">
               <h5 class="card-title">Seco de Ternera con Frejol</h5>
               <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
               <a href="#" class="btn btn-dark">Ver plato 14,00 €</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
         <div class="card">
            <%= image_tag 'food_01.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
            <div class="card-body">
               <h5 class="card-title">Ají de Gallina</h5>
               <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
               <a href="#" class="btn btn-dark">Ver plato 14,00 €</a>
            </div>
         </div>
      </div>

   <h4 id="scrollspyHeading5" class="pt-5 pb-2">Pollo a la brasa</h4>
   <p>
   <div class="row">
      <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
         <div class="card">
            <%= image_tag 'pollo.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
            <div class="card-body">
               <h5 class="card-title">1 Pollo a la brasa</h5>
               <p class="card-text">Con patatas y ensalada</p>
               <a href="#" class="btn btn-dark">Ver plato 20,00 €</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
         <div class="card">
            <%= image_tag 'pollo2.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
            <div class="card-body">
               <h5 class="card-title">1/2 Pollo a la brasa</h5>
               <p class="card-text">Con patatas y ensalada</p>
               <a href="#" class="btn btn-dark">Ver plato 14,00 €</a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
         <div class="card">
            <%= image_tag 'pollo.jpg', alt: 'comida', class: 'd-block w-100', class: 'card-img-top' %>
            <div class="card-body">
               <h5 class="card-title">1/4 Pollo a la brasa</h5>
               <p class="card-text">Con patatas y ensalada</p>
               <a href="#" class="btn btn-dark">Ver plato 8,00 €</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /menu scrollspy -->

<!-- Modal 1 -->
<div class="modal fade" id="verModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <%= image_tag 'tamales.jpg', alt: 'comida', class: 'd-block 100px', :size => "470x300"  %>    
            <h5 class="modal-title my-2" id="staticBackdropLabel">
               Tamales
            </h5>
            <p>Ración del plato: 1 unidad</p>
            <p>1/4 pollo a la brasa, papas fritas. arroz chaufa y crema.
            </p>
            <h4 class="text-center py-2">5,00 €</h4>
            <h6>Alergénos</h6>
            <p>Contiene: Pescado, moluscos.</p>
          </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-dark col-6 mx-auto ">Llamar al restaurante</button>
         </div>
      </div>
   </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="verModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <%= image_tag 'yuca.jpg', alt: 'comida', class: 'd-block 100px', :size => "470x300"  %>    
            <h5 class="modal-title my-2" id="staticBackdropLabel">
               Yuca Frita
            </h5>
            <p>Ración del plato: 1 unidad</p>
            <p>1/4 pollo a la brasa, papas fritas. arroz chaufa y crema.
            </p>
            <h4 class="text-center py-2">8,00 €</h4>
            <h6>Alergénos</h6>
            <p>Contiene: Pescado, moluscos.</p>
          </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-dark col-6 mx-auto ">Llamar al restaurante</button>
         </div>
      </div>
   </div>
</div>

<!-- Modal 3-->
<div class="modal fade" id="verModal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <%= image_tag 'papa-huancaina.jpg', alt: 'comida', class: 'd-block 100px', :size => "470x300"  %>    
            <h5 class="modal-title my-2" id="staticBackdropLabel">
               Papa a la Huancaína
            </h5>
            <p>Ración del plato: 1 unidad</p>
            <p>1/4 pollo a la brasa, papas fritas. arroz chaufa y crema.
            </p>
            <h4 class="text-center py-2">8,00 €</h4>
            <h6>Alergénos</h6>
            <p>Contiene: Pescado, moluscos.</p>
          </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-dark col-6 mx-auto ">Llamar al restaurante</button>
         </div>
      </div>
   </div>
</div>

<!-- Modal 4-->
<div class="modal fade" id="verModal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
         <%= image_tag 'ensalada_mixta.jpg', alt: 'comida', class: 'd-block 100px', :size => "470x300"  %>
            <h5 class="modal-title my-2" id="staticBackdropLabel">
               Ensalada mixta
            </h5>
            <p>Ración del plato: 1 unidad</p>
            <p>1/4 pollo a la brasa, papas fritas. arroz chaufa y crema.
            </p>
            <h4 class="text-center py-2">8,00 €</h4>
            <h6>Alergénos</h6>
            <p>Contiene: Pescado, moluscos.</p>
          </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-dark col-6 mx-auto ">Llamar al restaurante</button>
         </div>
      </div>
   </div>
</div>

