<!--Carta-->
<article id="categoria" class="mt-4 mb-4">
  <div class="container-fluid">
     <div class="row">
        <div class="col-12 mb-4">
           <h3>Especialidades de la casa</h3>
           <p>¡Lo mejor de la gastronomia Peruana!</p>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
           <div class="card">
              <%= image_tag '003.jpg', alt: 'comida', class: 'd-block 100px'%>
              <div class="card-body">
                 <h5 class="card-title">Ceviche Mixto</h5>
                 <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
                 <a href="#" class="btn btn-dark">Ver plato</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
           <div class="card">
              <%= image_tag '001.jpg', alt: 'comida', class: 'd-block 100px'%>
              <div class="card-body">
                 <h5 class="card-title">Ceviche de pescado</h5>
                 <p class="card-text">Judí­as de soja hervidas. Otra de la especialidades de la cocina peruana.</p>
                 <a href="#" class="btn btn-dark">Ver plato</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
           <div class="card">
              <%= image_tag '002.jpg', alt: 'comida', class: 'd-block 100px'%>
              <div class="card-body">
                 <h5 class="card-title">Reineta a lo pobre</h5>
                 <p class="card-text">Fideos a la plancha con verduras y salsa picante. Estos son nuestros...</p>
                 <a href="#" class="btn btn-dark">Ver plato</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
           <div class="card">
              <%= image_tag 'food_01.jpg', alt: 'comida', class: 'd-block 100px'%>
              <div class="card-body">
                 <h5 class="card-title">Ceviche Mixto</h5>
                 <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
                 <a href="#" class="btn btn-dark">Ver plato</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
           <div class="card">
              <%= image_tag 'food_01.jpg', alt: 'comida', class: 'd-block 100px'%>
              <div class="card-body">
                 <h5 class="card-title">Ceviche Mixto</h5>
                 <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
                 <a href="#" class="btn btn-dark">Ver plato</a>
              </div>
           </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-md-6 mb-4">
           <div class="card">
              <%= image_tag 'food_01.jpg', alt: 'comida', class: 'd-block 100px'%>
              <div class="card-body">
                 <h5 class="card-title">Ceviche Mixto</h5>
                 <p class="card-text">Mixtura de mariscos y pescados frescos, marinados en jugo de limón.</p>
                 <a href="#" class="btn btn-dark">Ver plato</a>
              </div>
           </div>
        </div>
        <div class="col-12 py-4">
           <div class="d-grid gap-2 col-4 mx-auto py-4">
              <button class="btn btn-dark" type="button">Ver todos</button>
           </div>
        </div>
     </div>
  </div>
</article>
<!--/ Carta-->

<!--Calidad-->
<section id="calidad" class="pt-4 pb-4">
  <div class="container-fluid">
     <div class="row mx-auto align-items-center">
        <div class="col-12 text-center pt-4 pb-4">
           <h1>¿Porqué elegirnos?</h1>
           <p>Calidad ante todo para nuestro clientes</p>
        </div>
        <div class="col-lg-4 text-center py-4">
          <%= image_tag 'vegetables.svg', alt: 'comida', class: 'd-block 100px'%>
           
           <h5>Comida fresca</h5>
           <p>“Cuando llega el calor, lo que más nos apetece es tener comida fresca, 
              riquísima pero también que llevo poco tiempo en la cocina.
              Tradition while constantly
           </p>
        </div>
        <div class="col-lg-4 text-center py-4">
           <%= image_tag 'fair.svg', alt: 'comida', class: 'd-block 100px'%>
           
           <h5>Comercio justo</h5>
           <p>“El Comercio Justo es un movimiento internacional que lucha por una mayor justicia global 
              en lo económico, social, humano y medioambiental
              Tradition while constantly.
           </p>
        </div>
        <div class="col-lg-4 text-center py-4">
           <%= image_tag 'take.svg', alt: 'comida', class: 'd-block 100px'%>
           <h5>A domicilio y retiro en local</h5>
           <p>“Hacemos envios dentro de Móstoles
              En el horario de 18:00 a 20:00 
              de martes a domingo.
           </p>
        </div>
     </div>
  </div>
  </div>
</section>
<!--/ Calidad-->