

<!-- inicio formulario-->
<div class="container">
<p id="notice"><%= notice %></p>
  <div class="row">
<h1>Categorias</h1>

<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th>Nombre Plato</th>
      <th>imágen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.image %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'Nueva categoria', new_category_path, class: "btn btn-danger my-2" %>
<br>
<%= link_to 'Ir a platos', plates_path, :class => "btn btn-outline-secondary my-2"  %>

</div>

